---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflare-tunnel-config
  namespace: cloudflare-tunnel
data:
  config.yaml: |
    tunnel: k8s-gitops-tunnel
    credentials-file: /etc/cloudflared/creds/credentials.json
    ingress:
    - hostname: dev.banterbus.games
      service: http://banterbus.dev.svc.cluster.local:80
    - service: http_status:404
