---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cloudflare-tunnel

resources:
   - namespace.yaml
   - vault-secret.yaml
   - vault-creds-secret.yaml
   - helm-repository.yaml
   - configmap.yaml
   - helm-release.yaml
