---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cloudflare-tunnel
resources:
  - namespace.yaml
  - vault-credentials-secret.yaml
  - configmap.yaml
  - network-policy.yaml
  - deployment.yaml
